.pageTitleMain {
   text-align: center;
   margin-bottom: 50px;
   h1 {
      font-style: normal;
      font-weight: bold;
      font-size: 60px;
      line-height: 82px;
      color: #e59c9c;
      margin-bottom: 5px;
   }
   p {
      font-style: normal;
      font-weight: bold;
      font-size: 30px;
      line-height: 41px;
      color: #ffffff;
   }
}
