.listMoviesCategoriesPage {
   background: #fff;
   padding: 40px 90px 20px;
   border-radius: 20px;
   margin-bottom: 95px;
}
.selectCategories {
   margin-bottom: 50px;
   font-size: 30px;
   line-height: 41px;
   span {
      font-weight: bold;
      font-size: 30px;
      line-height: 41px;
      color: #e59c9c;
      margin-left: 35px;
   }
}
